conformer
diffusers
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
openai-whisper
protobuf
pydantic
rich
soundfile
tensorboard
wget
gdown
pyarrow
jieba
pypinyin
pydub
audiosegment
srt
ffmpeg-python
funasr>=1.1.3
huggingface
huggingface_hub
pyworld
accelerate
julius
importlib_resources